<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoppingmall.mapper.MemberMapper">

<resultMap type="com.shoppingmall.model.Member" id="memberResultMap">
	<id property="id" column="id"/>
	<id property="email" column="email"/>
	<id property="phone" column="phone"/>
	<id property="address" column="address"/>
	<id property="nickname" column="nickname"/>
	<result property="password" column="password"/>
	<result property="name" column="name"/>
</resultMap>

<sql id="member">
	select id,
			password,
			name,
			nickname,
			phone,
			email,
			address
	  from user_info
</sql>

<select id="selectAll" 
		resultMap="memberResultMap">
		
	<include refid="member"/>
</select>

<select id="select" 
		parameterType="hashmap" 
		resultMap="memberResultMap" databaseId="oracle">
	select outer.rn,
	       outer.id,
	       outer.email,
	       outer.password,
	       outer.name
	  from (select rownum rn, inner.*
		      from (select m.* 
			          from user_info m
			         order by m.id desc
			 	   ) inner
		   ) outer
	 where outer.rn &gt;= #{firstItem}
	   and outer.rn &lt;= #{lastItem}
</select>

<select id="select" 
		parameterType="hashmap" 
		resultMap="memberResultMap" databaseId="mysql">
	<include refid="member"/>
	order by id desc
	limit #{offset}, #{count}
</select>


<select id="selectById"  
		parameterType="string"
		resultMap="memberResultMap">
		
	<include refid="member"/>
	 where id = #{id}
</select>

<select id="selectByEmail"  
		parameterType="string"
		resultMap="memberResultMap">
		
	<include refid="member"/>
	 where email = #{email} 
</select>

<select id="selectTotalCount" resultType="int">
	select count(*) from user_info
</select>

<insert id="insertGenerator" parameterType="com.shoppingmall.model.Member">
	insert into user_info
	(
		id,
		password,
		name,
		nickname,
		phone,
		email,
		address
	)
	values
	(
		#{id},
		#{password},
		#{name},
		#{nickname},
		#{phone},
		#{email},
		#{address}
	)
</insert>
	
<insert id="insert" parameterType="com.shoppingmall.model.Member" databaseId="oracle">
	insert into user_info
	(
		id,
		password,
		name,
		nickname,
		email,
		phone,
		address
	)
	values
	(
		#{id},
		#{password},
		#{name},
		#{nickname},
		#{email},
		#{phone},
		#{address}		
	)
</insert>

<update id="update" parameterType="com.shoppingmall.model.Member">
	update user_info
	<set>
		<if test="password != null">
			password= #{password},
		</if>
		<if test="name != null">
			name	= #{name},
		</if>
	</set>
	 where id 		= #{id}
	   and email	= #{email}
</update>

<delete id="deleteById" parameterType="int">
	delete from user_info
	 where id = #{id}
</delete>

<delete id="deleteByEmail" parameterType="string">
	delete from user_info
	 where email = #{email}
</delete>

</mapper>
