<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shoppingmall.mapper.MemberMapper">

<resultMap type="com.shoppingmall.model.QA" id="qaResultMap">
	<id property="writing_id" column="writing_id"/>
	<id property="group_id" column="group_id"/>
	<id property="order_no" column="order_no"/>
	<id property="level_no" column="level_no"/>
	<id property="parent_id" column="nickname"/>
	<id property="id" column="id"/>
	<id property="title" column="title"/>
	<id property="regdate" column="register_date"/>
</resultMap>



</mapper>
